.modal-article {
  position: relative;

  display: flex;
  align-items: flex-start;
  padding: 3rem 0;
}

.modal-article__book-container {
  margin-right: 10%;
}

.modal-article__img-container {
  max-width: 300px;
  background-color: $color-ghost-light;
}

.modal-article__price-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  background-color: $color-cerulean;
}

.modal-article__price-container > span {
  margin: 0 1rem;
  padding: 0 1rem;

  color: #ffffff;
  border: 1px solid #ffffff;
}

.modal-article__add-button,
.modal-article__remove-button {
  position: relative;

  display: block;
  width: 35px;
  height: 20px;

  font-size: 0;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 30%;
    height: 2px;

    background-color: black;

    z-index: 1;
    transform: translate(-50%, -50%);
  }
}

.modal-article__add-button {
  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 2px;
    height: 60%;

    background-color: black;

    z-index: 1;
    transform: translate(-50%, -50%);
  }
}

.modal-article__submit-button {
  width: 80%;
  height: 40px;
  margin-top: 1rem;

  border: 2px solid #ffffff;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid $color-main-soft;
  }

  &:active {
    background-color: $color-ghost-light;
  }
}

.modal-article__close-button {
  position: absolute;
  top: 0;
  right: 1rem;

  display: block;
  padding-left: 1.5rem;

  font-size: 18px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    display: block;
    padding: 3px;
    border: solid black;
    border-width: 0 3px 3px 0;

    transform: translateY(-50%) rotate(135deg);
  }

  &:hover,
  &:focus {
    color: $color-link;

    &::after {
      border-color: $color-link;
    }
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

.modal-article__description-container {
  position: relative;
  width: 50%;
  padding-top: 3rem;
}

.modal-article__description-container > h3 {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}

.modal-article__description-container > p {
  margin: 1rem 0;
  padding: 0;
}

.modal-article__table {
  width: 100%;
  
  border-collapse: collapse;
}

.modal-article__table-tr {
  width: 100%;
  height: 40px;
  background-color: $color-ghost-light;

  &:nth-child(2n) {
    background-color: #ffffff;
  }
}

.modal-article__table-td {
  width: 50%;
  min-width: fit-content;
}

.modal-article__alert-container {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  width: 50%;
  height: 30px;
  padding-left: 1rem;

  background-color: red;
}

.modal-article__alert-container > span {
  padding: 0;
  margin: 0;

  color: #ffffff;
}

/* CSSTransition classes  */

.modal-article-enter {
  transform: translateX(110%);
}
.modal-article-enter-active {
  transform: translateX(0%);
  transition: all 1.5s ease;
}

.modal-article-exit-active {
  transform: translateX(110%);
  transition: all 1.5s ease;
}